# Data Structures are a way of organizing data so that it can be accessed and manipulated more efficiently

 # in-built data structures are list, tuples, dictionaries, set

## 1. List : 
### it is a ordered collection of elements that can be of any data type
### it is mutable
### it is a heterogenious data structure

In [2]:
lst = [1 ,5.6 , True , "mira" , 3+7j]

In [3]:
lst

[1, 5.6, True, 'mira', (3+7j)]

In [4]:
type(lst)

list

In [5]:
lst[0]

1

In [6]:
lst[-1]

(3+7j)

In [7]:
lst[:]

[1, 5.6, True, 'mira', (3+7j)]

In [8]:
lst[0:3]

[1, 5.6, True]

In [9]:
lst[-4:-2]

[5.6, True]

In [10]:
len(lst)

5

In [11]:
lst

[1, 5.6, True, 'mira', (3+7j)]

In [12]:
l1 = ["mira" , "kiyara" , "dhara" , "nayra" , "sweety"]

In [13]:
l1

['mira', 'kiyara', 'dhara', 'nayra', 'sweety']

In [14]:
# we can iterate list if it only contain iterable objs like string
for i in l1:
    print(i)
    for j in i:
        print(j)

mira
m
i
r
a
kiyara
k
i
y
a
r
a
dhara
d
h
a
r
a
nayra
n
a
y
r
a
sweety
s
w
e
e
t
y

In [15]:
lst

[1, 5.6, True, 'mira', (3+7j)]

In [16]:
lst.append(395010)

In [17]:
lst

[1, 5.6, True, 'mira', (3+7j), 395010]

In [18]:
# Add element at the end of the list
lst.append("pw_skills")

In [19]:
lst

[1, 5.6, True, 'mira', (3+7j), 395010, 'pw_skills']

In [20]:
# Add element at the specific position
lst.insert(4 , "shayona")

In [21]:
lst

[1, 5.6, True, 'mira', 'shayona', (3+7j), 395010, 'pw_skills']

In [22]:
lst[4]

'shayona'

In [23]:
lst.append(5.6 )

In [24]:
# remove first occurrences of the element
lst.remove(5.6)

In [25]:
lst

[1, True, 'mira', 'shayona', (3+7j), 395010, 'pw_skills', 5.6]

In [26]:
# Remove element at the specific position
lst.pop(4)

(3+7j)

In [27]:
lst

[1, True, 'mira', 'shayona', 395010, 'pw_skills', 5.6]

In [28]:
# Returns a copy of the list
x = lst.copy()
x

[1, True, 'mira', 'shayona', 395010, 'pw_skills', 5.6]

In [29]:
# Reverses the order of the list
lst.reverse()

In [30]:
lst

[5.6, 'pw_skills', 395010, 'shayona', 'mira', True, 1]

In [31]:
l1

['mira', 'kiyara', 'dhara', 'nayra', 'sweety']

In [32]:
# sort the list in asending order by deafault
l1.sort()

In [33]:
l1

['dhara', 'kiyara', 'mira', 'nayra', 'sweety']

In [34]:
# sort the list in desending order
l1.sort(reverse=True)

In [35]:
l1

['sweety', 'nayra', 'mira', 'kiyara', 'dhara']

In [36]:
l1

['sweety', 'nayra', 'mira', 'kiyara', 'dhara']

In [37]:
lst

[5.6, 'pw_skills', 395010, 'shayona', 'mira', True, 1]

In [38]:
# at the end of current list, add specific list 
l1.extend(lst)
l1

['sweety',
 'nayra',
 'mira',
 'kiyara',
 'dhara',
 5.6,
 'pw_skills',
 395010,
 'shayona',
 'mira',
 True,
 1]

In [39]:
# Removes all the elements from the list
# l1.clear()
# l1

In [40]:
# Return the number of times the value appears in the list:
l1.count("mira")

2

In [41]:
l1.append(5.6)

In [42]:
l1

['sweety',
 'nayra',
 'mira',
 'kiyara',
 'dhara',
 5.6,
 'pw_skills',
 395010,
 'shayona',
 'mira',
 True,
 1,
 5.6]

In [43]:
# return the index of first occurrence of element 
l1.index(5.6)

5

# Array in python : Python does not have built-in support for Arrays, but Python Lists can be used instead.

In [44]:
# list, tuple,set inside list
l2 = [[1,2,3] , [4,5,6] , [7,8,9] , (11,12,13) , {14,15,16} ]

In [45]:
l2

[[1, 2, 3], [4, 5, 6], [7, 8, 9], (11, 12, 13), {14, 15, 16}]

In [46]:
l2[1]

[4, 5, 6]

In [47]:
l2[1][-1]

6

In [48]:
l2[-2][0]

11

In [49]:
grade = ["top" , "second" , "third"]

In [53]:
for i in grade:
    print(i,end = " " )

top second third

# Tuple : ordered collection of eles, heterogenous

## similar to the list

# diff : 
## 1) use round brackets
## 2) immutable
## 3) to do operaton on tuple... 1st convert it into list...do operation....again convert it into tuple

In [54]:
t1 = (4 , 6.89 , "mayra" , True , 6+45j , 32 , "priya")

In [55]:
t1

(4, 6.89, 'mayra', True, (6+45j), 32, 'priya')

In [56]:
type(t1)

tuple

In [59]:
t1[0]

4

In [60]:
t1[-1]

'priya'

In [61]:
t1[0:4]

(4, 6.89, 'mayra', True)

In [63]:
t1[0] = 7

TypeError: 'tuple' object does not support item assignment

AttributeError: 'tuple' object has no attribute 'append'

In [72]:
t2 = ([1,2,6,7,8] , "mira" , "diya" , {4,5,6,7})

In [73]:
t2

([1, 2, 6, 7, 8], 'mira', 'diya', {4, 5, 6, 7})

In [74]:
t2[0]

[1, 2, 6, 7, 8]

In [75]:
t2[0][0]

1

## usecase of tuple : aadhar card , ATM , emp_id -> you don't want to change..

In [77]:
tp1 = (101 , "aarya")
tp2 = (102 , "priya")

In [90]:
type((tp1 , tp2))

tuple

In [91]:
tp1 , tp2

((101, 'aarya'), (102, 'priya'))

# Sets :

## use kerli brackets
## unordered collection of data items
## doesn't contain duplicate items
## immutable
## can not do indexing

In [94]:
s1 = {3,4,5,"mira",6,5,4}

In [107]:
s1

{3, 4, 5, 6, 'mira'}

In [108]:
s1[0]

TypeError: 'set' object is not subscriptable

In [109]:
set1 = {4,5,6,'dhara'}

In [110]:
# add ele in set
set1.add("priya")

In [111]:
set1

{4, 5, 6, 'dhara', 'priya'}

In [112]:
# remove ele from set
set1.remove(5)

In [113]:
set1

{4, 6, 'dhara', 'priya'}

In [128]:
# usecase : grocery items

# Dictonary :

## ordered collection of key-value pairs
## mutable

In [137]:
d1 = { "roll_no" : 151 , 
      "name" : "Mira" , 
      "div" : 'C',
      "sub" : 'RDBMS2'
}

In [138]:
d1

{'roll_no': 151, 'name': 'Mira', 'div': 'C', 'sub': 'RDBMS2'}

In [139]:
type(d1)

dict

In [140]:
d1.keys()

dict_keys(['roll_no', 'name', 'div', 'sub'])

In [141]:
d1.values()

dict_values([151, 'Mira', 'C', 'RDBMS2'])

In [142]:
d1.items()

dict_items([('roll_no', 151), ('name', 'Mira'), ('div', 'C'), ('sub', 'RDBMS2')])

In [143]:
d1['roll_no']

151

In [144]:
for i in d1:
    print(d1[i])

151
Mira
C
RDBMS2

In [145]:
d1

{'roll_no': 151, 'name': 'Mira', 'div': 'C', 'sub': 'RDBMS2'}

In [146]:
# mutable
d1['name'] = "isha"

In [147]:
d1

{'roll_no': 151, 'name': 'isha', 'div': 'C', 'sub': 'RDBMS2'}

# Array : similar to the list...it store homogenous data..

In [152]:
from array import array

In [153]:
array('i' , (4,5,6,7))

array('i', [4, 5, 6, 7])

In [ ]:
# String :

In [154]:
s = "mira rafaliya"

In [155]:
s

'mira rafaliya'