# Tuple : ordered collection of eles, heterogenous
# similar to the list
# diff : 
## 1) use round brackets
## 2) immutable
## 3) so, to do operaton on tuple... we can convert it into list...do operation....again convert it into tuple (optional bcz it is immutable and constant list)

In [1]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# Common Tuple Methods:
### 1.count() :Counts the number of occurrences of a specified ele.


### 2.index():Returns the index of the first occurrence of a specified ele.

In [38]:
t1 = (1,5,4,'mira','apple' , 4+67j , True , 1 , 4, 2 , 5, 1,1)

In [39]:
t1.count(1)

5

In [41]:
t1.index('mira')

3

# Accessing ele and slicing : same as string

### Concatenation: using the + operator.

In [42]:
t1 = (1,2,3,4)
t2 = (5,6,7,8)

In [43]:
t1 + t2

(1, 2, 3, 4, 5, 6, 7, 8)

### Repetition : using the * operator

In [44]:
t1 = (3 ,4) * 2

In [45]:
t1

(3, 4, 3, 4)

### Membership Test : using the in and not in operators.

In [46]:
t1 = (5,4,67,5,7,5,4)

In [47]:
5 in t1

True

In [48]:
99 in t1

False

In [49]:
99 not in t1

True

### Iterating : using loop

In [50]:
for  i in t1:
    print(i)

5
4
67
5
7
5
4

### Converting to Other Types:

In [52]:
str(t1)

'(5, 4, 67, 5, 7, 5, 4)'

In [53]:
list(t1)

[5, 4, 67, 5, 7, 5, 4]

In [54]:
set(t1)

{4, 5, 7, 67}

### Built-in Functions:

In [55]:
len(t1)

7

In [56]:
min(t1)

4

In [57]:
max(t1)

67

In [58]:
sum(t1)

97

# Sets :
### Creating Sets using {} or set() constructor
### unorderd and unique collection of eles
- unorderd : indexing will not work 
- unique   : doesn't allow duplicate eles
### set is mutable, meaning you can add or remove elements after creation, but the elements themselves must be immutable (like strings, numbers, or tuples).

In [192]:
# Using curly braces
my_set = {1, 2, 3, 4}

In [83]:
my_set

{1, 2, 3, 4}

In [80]:
# Using the set() constructor
my_set = set([1, 2, 3, 4])

In [81]:
my_set

{1, 2, 3, 4}

# use of set() constructor :

- Creating an Empty Set

In [72]:
s1 = set()

In [73]:
s1

set()

In [74]:
type(s1)

set

- Creating a Set from an Iterable

In [77]:
set1 = set([11,22,33,44,55])

In [79]:
type(set1)

set

# Common Set Methods:

In [99]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

- add()

In [84]:
s1 = {1,2,3}

In [85]:
s1.add(4)

In [86]:
s1

{1, 2, 3, 4}

- remove()
- Raises a KeyError if the element is not found.

In [90]:
s1

{1, 2, 3, 4}

In [92]:
s1.remove(3)

In [93]:
s1

{1, 2, 4}

In [94]:
s1.remove(99)

KeyError: 99

- discard
- Not Raises a KeyError if the element is not found.

In [95]:
s1.discard(2)

In [96]:
s1

{1, 4}

In [97]:
s1.discard(22)

In [98]:
s1

{1, 4}

- clear()
- Removes all elements from the set.

In [101]:
s2 = {5,6,7,8,9,10}

In [102]:
s2.clear()

In [103]:
s2

set()

In [113]:
s3 = set([6,7,2,3,4,5,6,7])

In [114]:
s3

{2, 3, 4, 5, 6, 7}

In [115]:
s4 = s3.copy()

In [116]:
s3.add(101)

In [119]:
s3

{2, 3, 4, 5, 6, 7, 101}

In [120]:
s4

{2, 3, 4, 5, 6, 7}

# Set Operations

In [145]:
A = {3,4,56,4,32}
B = {6,7,8,3,4,5}

In [146]:
A.union(B)  # A U B

{3, 4, 5, 6, 7, 8, 32, 56}

In [147]:
A.intersection(B) # A chhed B

{3, 4}

In [148]:
A.difference(B)  #  A - (A chhed B)

{32, 56}

In [149]:
## Returns a set containing elements that are in either set, but not in both.
## A + B - (A chhed B)
A.symmetric_difference(B)

{5, 6, 7, 8, 32, 56}

In [156]:
a = {1,2,3}
b = {3,4,5}

In [157]:
a.symmetric_difference(b)

{1, 2, 4, 5}

In [159]:
a.difference(b)

{1, 2}

# Set Comparisons

In [160]:
s1 = {1,2}
s2 = {1,2,3,4}

In [161]:
s1.issubset(s2)

True

In [162]:
s2.issuperset(s1)

True

In [163]:
#Checks if the set has no elements in common with another set.
# return true if A chhed B = 0
s1.isdisjoint(s2)

False

# Frozen Sets:

##  frozenset is an immutable version of a set. Once created, elements cannot be added or removed.

In [186]:
s1 = frozenset([1,2,3]) # arg = iterable obj like list, tuple etc
s2 = frozenset([3,4,5])

In [187]:
type(s1)

frozenset

In [188]:
s1.add(4)

AttributeError: 'frozenset' object has no attribute 'add'

In [190]:
s1.remove(s2)

AttributeError: 'frozenset' object has no attribute 'remove'

In [189]:
s1.isdisjoint(s2)

False

In [191]:
s1.intersection(s2)

frozenset({3})